---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-cm
data:
  default.conf.template: |
    server {
      listen 80;
      server_name _;

      location / {
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
      }

      location /api/ {
        proxy_pass http://momo-backend:8081/;
      }

      error_page   500 502 503 504  /50x.html;
      location = /50x.html {
          root   /usr/share/nginx/html;
      }
    }